@charset "utf-8";

@font-face {
    font-family: 'HakgyoansimBadasseugiTTF-L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Lovingu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

:root {
    --font-kr: "HakgyoansimBadasseugiTTF-L";
    --font-en: "Cafe24Lovingu";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #e4e4e4;
}

body {
    color: #333;
    line-height: 1;
    font-size: 62.5%;
    font-family: var(--font-kr);
}

a {
    color: inherit;
}

#wrap {
    max-width: 26rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#typing {
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 0;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* 화면에 나타날 때 적용될 상태 */
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* ❤️❤️❤️header❤️❤️❤️ */
#header {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
}
#header .header_text {
    font-size: 1rem;
    padding: 40px 0 0;
}
#header .header_text .header_name {
    width: 60%;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
#header .header_img {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: url(../img/header.jpg) center center / 100% no-repeat;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
}
#header .header_img p {
    width: 100%;
    height: 100%;
}
#header .header_last {
    margin-bottom: 30px;
}
#header .header_last h1 {
    font-family: var(--font-en);
    font-size: 1.9rem;
    font-weight: 300;
}
#header .header_last .header_day {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: var(--font-kr);
    font-size: 1rem;
    margin-top: 15px;
    letter-spacing: 1.1px;
}
#header .header_last .header_day p:first-child { 
    margin-bottom: 5px;
}

/* ❤️❤️❤️main❤️❤️❤️ */
#main {
    width: 100%;
    height: auto;
    background-color: #ffe8db;
    box-shadow: 0 0 18px rgb(0 0 0 / 10%);
}
#cont01 {
    width: 100%;
    margin: 0 auto;
    padding: 45px 0;
    text-align: center;
}
#cont01 .cont01_img figure {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#cont01 .cont01_img figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cont01 .cont01_text {
    line-height: 1.8;
    font-weight: 500;
}
#cont01 .cont01_text .text01 {
    margin: 0 auto;
    font-size: 1rem;
    margin-bottom: 30px;
}
#cont01 .cont01_text span {
    font-weight: 600;
    color: #000;
    font-size: 1.2rem;
}
#cont01 .cont01_text .text02 {
    font-size: 1rem;
}
#cont01 .cont01_text .text02 span {
    letter-spacing: 2px;    
}
#cont01 .call button {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #777;
    font: inherit;
    cursor: pointer;
}
#cont01 .call button p {
    font-size: 1rem;
}

.call_popup {
    width: 340px;
    height: auto;
    margin: 0 auto;
}
.call_popup .inner {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
}
.call_popup .inner .popup_header {
    background-color: rgb(249, 249, 249);
    padding: 15px 0;
    font-weight: bold;
}
.call_popup .inner .popup_text .popup_sx {
    width: 320px;
    margin: 0 auto;
}
.call_popup .inner .popup_text .popup_sx div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.call_popup .inner .popup_text .popup_sx div span {
    width: calc(100%  / 3);
}
.call_popup .inner .popup_text .popup_sx div span:last-child a  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call_popup .inner .popup_text .popup_sx div a figure {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1f1f1;
}
.call_popup .inner .popup_text .popup_sx div a .popup_call {
    margin-right: 20px;
}
.call_popup .inner .popup_text .popup_sx div a img {
    width: 12px;
    height: 12px;
    object-fit: cover;
}
.call_popup .inner .popup_text .popup_sx .last {
    margin-bottom: 20px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #333;
}
.call_popup .inner .popup_text .popup_sx .last_2 {
    padding-bottom: 15px !important;
}


#cont02 {
    width: 100%;
    margin: 0 auto;
    padding: 53px 0;
    background-color: #fff;
    text-align: center;
}
#cont02 .inner{
    width: 20rem;
    margin: 0 auto;
}
#cont02 .month {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
#cont02 .month span {
    font-size: 3.8rem;
}
#cont02 .month span:first-child {
    font-size: 1.9rem;
    filter: blur(4px);
    color: #5f5f5f;
    display: inline-block;
    min-width: 1.8rem;
    opacity: 1;
}
#cont02 .month span:nth-child(2) {
    font-size: 2.4rem;
    margin: 0 30px;
    filter: blur(2px);
    color: #5f5f5f;
    display: inline-block;
    min-width: 2rem;
    opacity: 1;
}
#cont02 .month span:nth-child(3) {
    font-weight: bold;
}
#cont02 .month span:nth-child(4) {
    font-size: 2.4rem;
    margin: 0 30px;
    filter: blur(2px);
    color: #5f5f5f;
    display: inline-block;
    min-width: 2rem;
    opacity: 1;
}
#cont02 .month span:last-child {
    font-size: 1.9rem;
    filter: blur(4px);
    color: #5f5f5f;
    display: inline-block;
    min-width: 1.8rem;
    opacity: 1;
}
#cont02 .month_2 {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.3rem;
}
#cont02 .month_2 span {
    width: 2rem;
}
#cont02 .month_2 .red {
    color: red;
}
#cont02 .month_2 .month_text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#cont02 .month_2 .month_day .day {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#cont02 .month_2 .month_day .day_1 {
    justify-content: flex-end;
}
#cont02 .month_2 .month_day .day_2 {
    position: relative;
}
#cont02 .month_2 .month_day .day_2 .wedding {
    z-index: 2;
}
#cont02 .month_2 .month_day .day_2 .heart {
    width: 36px;
    height: 38px;
    position: absolute;
    top: -10px;
    right: -1px;
}
#cont02 .month_2 .month_day .day_2 .heart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cont02 .month_2 .month_day .day_6 {
    justify-content: flex-start;
}
#cont02 .month_2 .month_day .day_6 span:last-child {
    margin-left: 16px;
}

#cont02 .wedding_day h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}
#remain-time {
    font-size: 1.3rem;
}

#cont03 {
    width: 100%;
    height: auto;
}
#cont03 .inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}
#cont03 .inner p {
    font-size: 1.2rem;
    font-weight: bold;
}
.swiper {
    height: 518px;
    margin-top: 30px;
}
#cont03 .inner .swiper-slide {
    width: 85%;
    height: 92%;
}
#cont03 .inner .swiper-slide a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont03 .inner .swiper-slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}
.swiper-slide-prev, .swiper-slide-next {
    opacity: 0.2;
}
.swiper-button-next {
    width: 25px !important;
    height: 25px !important;
    background: url(../img/right_icon.png) center center / cover no-repeat;
}
.swiper-button-prev {
    width: 25px !important;
    height: 25px !important;
    background: url(../img/left_icon.png) center center / cover no-repeat;
}
.swiper-button-next, .swiper-button-prev {
    top: unset !important;
    bottom: 11px;
}
.swiper-pagination {
    width: 100px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    font-size: 0.8rem;
    bottom: 15px !important;
}

.swiper-button-next::after,
.swiper-button-prev:after {
    content: none !important;
}

#cont04 {
    width: 100%;
    height: auto;
    background-color: #fff;
}
#cont04 .inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}
#cont04 .inner h1 {
    font-size: 1.2rem;
    font-weight: bold;
}
#cont04 .inner .location {
    margin: 30px 0;
}
#cont04 .inner .location h2 {
    font-size: 1rem;
    margin-bottom: 15px;
}
#cont04 .inner .location p {
    font-size: 1rem;
}
#daumRoughmapContainer1730163576462 {
    width: 100% !important;
}
.place-card {
    display: none !important;
}
#cont04 .inner .traffic {
    margin-left: 30px;
    text-align: left;
    margin-top: 30px;
}
#cont04 .inner .traffic h1 {
    margin-bottom: 10px;
    font-size: 1rem;
}
#cont04 .inner .traffic span {
    font-size: 0.9rem;
}
#cont04 .inner .traffic .bus,
#cont04 .inner .traffic .free_bus,
#cont04 .inner .traffic .car {
    margin-top: 20px;
}
#cont04 .inner .traffic .bus div p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}


@media screen and (max-width:375px) {
    #header .header_img {
        width: 70%;
        height: 333px;
    }
}
@media screen and (max-width:357px) {
    #header .header_img {
        height: 299px;
    }
    #header .header_text {
        font-size: 0.8rem;
    }
    #header .header_text .header_name {
        font-size: 1rem;
    }
    #header .header_last h1 {
        font-size: 1.5rem;
    }
    #header .header_last .header_day {
        width: 75%;
        font-size: 0.8rem;
    }
    #cont01 {
        padding: 30px 0;
    }
    #cont01 .cont01_text .text01 {
        font-size: 0.8rem;
    }
    #cont01 .cont01_text span {
        font-size: 1rem;
    }
    #cont01 .call button {
        width: 120px;
        height: 35px;
    }
    #cont01 .call button p {
        font-size: 0.9rem;
    }
    #cont02 {
        padding: 45px 0;
    }
    #cont02 .month span:first-child,
    #cont02 .month span:last-child {
        font-size: 1.3rem;
    }
    #cont02 .month span:nth-child(2),
    #cont02 .month span:nth-child(4) {
        font-size: 1.8rem;
    }
    #cont02 .month span {
        font-size: 3.2rem;
    }
    #cont02 .month_2 {
        width: 80%;
    }
    #remain-time {
        font-size: 1.1rem;
    }
}