@charset "utf-8";

@font-face {
  font-family: "HakgyoansimBadasseugiTTF-L";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimBadasseugiTTF-L.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import url("//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");

:root {
  --font-kr: "HakgyoansimBadasseugiTTF-L";
  --font-en: "Cafe24Lovingu";
}
@font-face {
  font-family: 'Cafe24Lovingu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Lovingu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e4e4e4;
}

body {
  color: #333;
  line-height: 1;
  font-size: 62.5%;
  font-family: var(--font-kr);
}

a {
  color: inherit;
}

#wrap {
  max-width: 26rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#typing {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* 화면에 나타날 때 적용될 상태 */
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* ❤️❤️❤️header❤️❤️❤️ */
#header {
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  background-color: #ffe8db;
  position: relative;
}
#header .inner figure {
  width: 100%;
  height: auto;
}
#header .inner figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drawsvg,svg {
  width: 100%;
  height: 249px;
}

.stroke {
  font-size: 45px;
  stroke: #fff; 
  stroke-width: 1px; 
  stroke-dasharray: 0 250;
  stroke-opacity: 1; 
  fill: none;
  -webkit-animation: 
  stroke_offset 8s infinite;
  animation: stroke_offset 8s infinite;
  -webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
  animation-timing-function: cubic-bezier(.25, .46, .45, .94)
}

.fill {
  font-size: 45px;
  fill: #ff5454;
  fill-opacity: 0;
  -webkit-animation: fill_offset 8s infinite;
  animation: fill_offset 8s infinite;
  -webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
  animation-timing-function: cubic-bezier(.25, .46, .45, .94)

}

@-webkit-keyframes stroke_offset {
  100%, 25% {stroke-dasharray: 0 250; stroke-opacity: 1
  }
  50%, 75% {stroke-dasharray: 250 0; stroke-opacity: .75
  }
  55%, 70% {stroke-dasharray: 250 0; stroke-opacity: 0
  }
}

@keyframes stroke_offset {
  100%, 25% {stroke-dasharray: 0 250; stroke-opacity: 1
  }
  50%, 75% {stroke-dasharray: 250 0; stroke-opacity: .75
  }
  55%, 70% {stroke-dasharray: 250 0; stroke-opacity: 0
  }
}

@-webkit-keyframes fill_offset {
    100%, 25%, 35%, 90% {
        fill-opacity: 0
    }
    50%, 70% {
        fill-opacity: 1
    }
}

@keyframes fill_offset {
    100%, 25%, 35%, 90% {
        fill-opacity: 0
    }
    50%, 70% {
        fill-opacity: 1
    }
}
.drawsvg {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -208px;
  z-index: 200000;
}
#fade-text {
  font-family: 'Cafe24Lovingu', cursive; font-size: 4em;
  font-weight: bold;
}
#particles-js {
  width: 100%;
  height: auto;
}


/* #header .header_text {
  font-size: 1rem;
  padding: 40px 0 0;
}
#header .header_text .header_name {
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
#header .header_img {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: url(../img/header.jpg) center center / 100% no-repeat;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
}
#header .header_img p {
  width: 100%;
  height: 100%;
}
#header .header_last {
  margin-bottom: 30px;
}
#header .header_last h1 {
  font-family: var(--font-en);
  font-size: 1.9rem;
  font-weight: 300;
}
#header .header_last .header_day {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: var(--font-kr);
  font-size: 1rem;
  margin-top: 15px;
  letter-spacing: 1.1px;
}
#header .header_last .header_day p:first-child {
  margin-bottom: 5px;
} */

/* ❤️❤️❤️main❤️❤️❤️ */
#main {
  width: 100%;
  height: auto;
  background-color: #ffe8db;
  box-shadow: 0 0 18px rgb(0 0 0 / 10%);
}
#cont01 {
  width: 100%;
  margin: 0 auto;
  padding: 45px 0;
  text-align: center;
  position: relative;
}
#cont01 .cont01_img figure {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#cont01 .cont01_img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cont01 .cont01_text {
  line-height: 1.8;
  font-weight: 500;
}
#cont01 .cont01_text .text01 {
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 30px;
}
#cont01 .cont01_text span {
  font-weight: 600;
  color: #000;
  font-size: 1.2rem;
}
#cont01 .cont01_text .text02 {
  font-size: 1rem;
}
#cont01 .cont01_text .text02 span {
  letter-spacing: 2px;
}
#cont01 .call button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #777;
  font: inherit;
  cursor: pointer;
}
#cont01 .call button p {
  font-size: 1rem;
}

.call_popup {
  width: 340px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.call_popup .inner {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}
.call_popup .inner .popup_header {
  background-color: rgb(249, 249, 249);
  padding: 15px 0;
  font-weight: bold;
}
.call_popup .inner .popup_text .popup_sx {
  width: 320px;
  margin: 0 auto;
}
.call_popup .inner .popup_text .popup_sx div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.call_popup .inner .popup_text .popup_sx div span {
  width: calc(100% / 3);
}
.call_popup .inner .popup_text .popup_sx div span:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call_popup .inner .popup_text .popup_sx div a figure {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f1f1f1;
}
.call_popup .inner .popup_text .popup_sx div a .popup_call {
  margin-right: 20px;
}
.call_popup .inner .popup_text .popup_sx div a img {
  width: 12px;
  height: 12px;
  object-fit: cover;
  margin-top: 8px;
}
.call_popup .inner .popup_text .popup_sx .last {
  margin-bottom: 20px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #333;
}
.call_popup .inner .popup_text .popup_sx .last_2 {
  padding-bottom: 15px !important;
}
.call_popup .call_close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
.call_popup .call_close figure {
  width: 20px;
  height: 20px;
}
.call_popup .call_close figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cont02 {
  width: 100%;
  margin: 0 auto;
  padding: 53px 0;
  background-color: #fff;
  text-align: center;
}
#cont02 .inner {
  width: 20rem;
  margin: 0 auto;
}
#cont02 .month {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
#cont02 .month span {
  font-size: 3.8rem;
}
#cont02 .month span:first-child {
  font-size: 1.9rem;
  filter: blur(4px);
  color: #5f5f5f;
  display: inline-block;
  min-width: 1.8rem;
  opacity: 1;
}
#cont02 .month span:nth-child(2) {
  font-size: 2.4rem;
  margin: 0 30px;
  filter: blur(2px);
  color: #5f5f5f;
  display: inline-block;
  min-width: 2rem;
  opacity: 1;
}
#cont02 .month span:nth-child(3) {
  font-weight: bold;
}
#cont02 .month span:nth-child(4) {
  font-size: 2.4rem;
  margin: 0 30px;
  filter: blur(2px);
  color: #5f5f5f;
  display: inline-block;
  min-width: 2rem;
  opacity: 1;
}
#cont02 .month span:last-child {
  font-size: 1.9rem;
  filter: blur(4px);
  color: #5f5f5f;
  display: inline-block;
  min-width: 1.8rem;
  opacity: 1;
}
#cont02 .month_2 {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.3rem;
}
#cont02 .month_2 span {
  width: 2rem;
}
#cont02 .month_2 .red {
  color: red;
}
#cont02 .month_2 .month_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#cont02 .month_2 .month_day .day {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#cont02 .month_2 .month_day .day_1 {
  justify-content: flex-end;
}
#cont02 .month_2 .month_day .day_2 {
  position: relative;
}
#cont02 .month_2 .month_day .day_2 .wedding {
  z-index: 2;
}
#cont02 .month_2 .month_day .day_2 .heart {
  width: 36px;
  height: 38px;
  position: absolute;
  top: -10px;
  right: -1px;
}
#cont02 .month_2 .month_day .day_2 .heart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cont02 .month_2 .month_day .day_6 {
  justify-content: flex-start;
}
#cont02 .month_2 .month_day .day_6 span:last-child {
  margin-left: 16px;
}

#cont02 .wedding_day h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
#remain-time {
  font-size: 1.3rem;
}

#cont03 {
  width: 100%;
  height: auto;
}
#cont03 .inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
#cont03 .inner p {
  font-size: 1.2rem;
  font-weight: bold;
}
.swiper {
  height: 518px;
  margin-top: 30px;
}
#cont03 .inner .swiper-slide {
  width: 85%;
  height: 92%;
}
#cont03 .inner .swiper-slide a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cont03 .inner .swiper-slide img {
  width: 89%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.2;
}
.swiper-button-next {
  width: 25px !important;
  height: 25px !important;
  background: url(../img/right_icon.png) center center / cover no-repeat;
}
.swiper-button-prev {
  width: 25px !important;
  height: 25px !important;
  background: url(../img/left_icon.png) center center / cover no-repeat;
}
.swiper-button-next,
.swiper-button-prev {
  top: unset !important;
  bottom: 11px;
}
.swiper-pagination {
  width: 100px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  font-size: 0.8rem;
  bottom: 15px !important;
}
.swiper-button-next::after,
.swiper-button-prev:after {
  content: none !important;
}


#cont04 {
  width: 100%;
  height: auto;
  background-color: #fff;
}
#cont04 .inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
#cont04 .inner h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
#cont04 .inner .location {
  margin: 30px 0;
}
#cont04 .inner .location h2 {
  font-size: 1rem;
  margin-bottom: 15px;
}
#cont04 .inner .location p {
  font-size: 1rem;
}
#daumRoughmapContainer1730163576462 {
  width: 100% !important;
}
.place-card {
  display: none !important;
}
#cont04 .inner .traffic {
  margin-left: 30px;
  text-align: left;
  margin-top: 30px;
}
#cont04 .inner .traffic h1 {
  margin-bottom: 10px;
  font-size: 1rem;
}
#cont04 .inner .traffic span {
  font-size: 0.9rem;
}
#cont04 .inner .traffic .bus,
#cont04 .inner .traffic .free_bus,
#cont04 .inner .traffic .car {
  margin-top: 20px;
}
#cont04 .inner .traffic .bus div p,
#cont04 .inner .traffic .car div p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
#cont04 .inner .traffic .bus div,
#cont04 .inner .traffic .car div {
  margin-top: 15px;
}

/* 방명록 */
#guestbook {
  background-color: #fff;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ffe8db;
}
#guestbook h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}
#first_text .first_btn {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #777;
  font: inherit;
  cursor: pointer;
  border-radius: 5px;
}
#first_text button p {
  font-size: 1rem;
  margin: 0 !important;
}
/* 방명록 작성란 */

#guestbook-form {
  width: 25%;
  height: 448px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff; /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 5px;
}
#guestbook-form h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
}
#guestbook-form div {
  width: 80%;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffdcb6;
}
#guestbook-form div input {
  width: 72.5%;
  height: 25px;
}
#guestbook-form div textarea {
  width: 73%;
  height: 100px;
}
#guestbook-form div:nth-child(2) {
  padding-top: 15px;
  border-top: 1px solid #ffdcb6;
}
#guestbook-form div:nth-child(2) label {
  font-size: 1rem;
  letter-spacing: 0.5rem;
}
#guestbook-form div:nth-child(3) label {
  font-size: 1rem;
  margin-right: 8px;
}
#guestbook-form div:nth-child(4) label {
  font-size: 1rem;
  margin-right: 5px;
  letter-spacing: 0.35em !important;
}
#guestbook-form div:nth-child(4) div {
  width: 100% !important;
  display: flex;
  align-items: flex-start;
  border-bottom: none;
}
#name-char-count, #password-char-count, #message-char-count {
  text-align: end;
  font-size: 1rem;
  margin-bottom: 15px;
}
#name-char-count, #password-char-count {
  margin-top: 10px;
  margin-bottom: 10px;
}
#close-btn {
  width: 34%;
  height: 35px;
  background-color: transparent;
  border: 1px solid #777;
  border-radius: 5px;
  cursor: pointer;
}

.guestbook-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.guestbook-item p {
  margin: 0;
}
/* 모달 기본 스타일 */
#password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content input {
  margin-bottom: 10px;
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button#confirm-delete {
  background-color: #ff6b6b;
  color: #fff;
}

.modal-content button#cancel-delete {
  background-color: #ccc;
  color: #000;
}
#password-modal h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

/* 방명록 스타일 */
#guestbook-list {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  text-align: center;
}

.guestbook-item {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: #fdfdfd;
  transition: all 0.3s ease;
  text-align: start;
  position: relative;
}

.guestbook-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.guestbook-item p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.guestbook-item strong {
  font-size: 16px;
  color: #007bff;
}

#first_text .delete-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

#first_text .delete-button:hover {
  background: #d93636;
}

/* 페이지네이션 스타일 */
#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

#pagination-container button {
  background: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

#pagination-container button.active {
  background: #007bff;
  color: white;
  border-color: #0056b3;
}

#pagination-container button:hover {
  background: #007bff;
  color: white;
}

#pagination-container button[disabled] {
  background: #eaeaea;
  color: #999;
  cursor: not-allowed;
}

/* cont06 */
#cont06 {
  /* background-color: #fff; */
  margin: 0 auto;
  text-align: center;
}
#cont06 .inner {
  padding: 50px 0;
}
#cont06 .inner h1 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
#cont06 .inner p {
  margin: 30px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
#cont06 .inner .dropdown {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}
.dropdown-button {
  width: 100%;
  background-color: transparent;
  border: 0;
  text-align: left;
  font-size: 1rem;
  font-family: inherit;
  padding: 10px;
  border: none;
  cursor: pointer;
}
#cont06 .inner .dropdown p {
  margin: 0;
}
#cont06 .dropdown-content {
  display: block;
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 0; /* 기본적으로 숨김 */
  opacity: 0; /* 투명도 추가 */
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease; 
}
#cont06  .dropdown-content.show {
  max-height: 500px; 
  opacity: 1;
}

#cont06 .dropdox {
  width: 100%;
  padding: 15px;
}
#cont06 .dropdox .man_name {
  display: flex;
  justify-content: flex-start;
  color: #4ca2fe;
  font-weight: bold;
}
#cont06 .dropdox .woman_name {
  display: flex;
  justify-content: flex-start;
  color: #fe964c;
  font-weight: bold;
}
#cont06 .dropdox .man_name p,
#cont06 .dropdox .woman_name p {
  margin-right: 10px !important;
}
#man_bank, #woman_bank {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

#man_bank .btn_bank,
#woman_bank .btn_bank {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#man_bank .btn_bank button:first-child,
#woman_bank .btn_bank button:first-child {
  margin-top: 0 !important;
}
#man_bank .btn_bank button,
#woman_bank .btn_bank button {
  width: 64px;
  height: 26px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #777;
  border-radius: 5px;
}
#man_bank .btn_bank button a,
#woman_bank .btn_bank button a {
  text-decoration: none;
  cursor: pointer;
}
#man_bank .btn_bank button a p,
#woman_bank .btn_bank button a p {
  font-family: var(--font-kr);
}
#man_bank .btn_bank button a figure,
#woman_bank .btn_bank button a figure {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
#man_bank .btn_bank button a figure img,
#woman_bank .btn_bank button a figure img {
  width: 100%;
  height: 100%;
}




/* 반응형 */
@media screen and (max-width: 375px) {
  #header .header_img {
    width: 70%;
    height: 333px;
  }
}
@media screen and (max-width: 357px) {
  #header .header_img {
    height: 299px;
  }
  #header .header_text {
    font-size: 0.8rem;
  }
  #header .header_text .header_name {
    font-size: 1rem;
  }
  #header .header_last h1 {
    font-size: 1.5rem;
  }
  #header .header_last .header_day {
    width: 75%;
    font-size: 0.8rem;
  }
  #cont01 {
    padding: 30px 0;
  }
  #cont01 .cont01_text .text01 {
    font-size: 0.8rem;
  }
  #cont01 .cont01_text span {
    font-size: 1rem;
  }
  #cont01 .call button {
    width: 120px;
    height: 35px;
  }
  #cont01 .call button p {
    font-size: 0.9rem;
  }
  #cont02 {
    padding: 45px 0;
  }
  #cont02 .month span:first-child,
  #cont02 .month span:last-child {
    font-size: 1.3rem;
  }
  #cont02 .month span:nth-child(2),
  #cont02 .month span:nth-child(4) {
    font-size: 1.8rem;
  }
  #cont02 .month span {
    font-size: 3.2rem;
  }
  #cont02 .month_2 {
    width: 80%;
  }
  #remain-time {
    font-size: 1.1rem;
  }
}
